<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @raffle.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @raffle.description %>
</p>

<p>
  <strong>Probable draw at:</strong>
  <%= @raffle.probable_draw_at %>
</p>

<p>
  <strong>Start sale at:</strong>
  <%= @raffle.start_sale_at %>
</p>

<p>
  <strong>Finishes sale at:</strong>
  <%= @raffle.finishes_sale_at %>
</p>

<p>
  <strong>Drawn at:</strong>
  <%= @raffle.drawn_at %>
</p>

<p>
  <strong>Ticket value:</strong>
  <%= @raffle.ticket_value %>
</p>

<p>
  <strong>User:</strong>
  <%= @raffle.user_id %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @raffle.kind_id %>
</p>

<%= link_to 'Edit', edit_raffle_path(@raffle) %> |
<%= link_to 'Back', raffles_path %>
