<% content_for :title do %>
  Raffle's details
<% end %>

<div class="page-header">
  <h1>Raffle's details</h1>
  <div>
    <%= link_to edit_raffle_path(@raffle), class: 'btn btn-success' do %>
      <%= icon 'fas', 'edit' %>
      Edit
    <% end %>
    <%= link_to raffles_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Back
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @raffle.title %></dd>

  <dt>Description:</dt>
  <dd><%= @raffle.description %></dd>

  <dt>Probable draw at:</dt>
  <dd><%= @raffle.probable_draw_at, format: "%d de %B de %Y" %></dd>

  <dt>Start sale at:</dt>
  <dd><%= @raffle.start_sale_at, format: "%d de %B de %Y" %></dd>

  <dt>Finishes sale at:</dt>
  <dd><%= @raffle.finishes_sale_at %></dd>

  <dt>Drawn at:</dt>
  <dd><%= @raffle.drawn_at%></dd>

  <dt>Ticket value:</dt>
  <dd><%= @raffle.ticket_value %></dd>

  <dt>User:</dt>
  <dd><%= @raffle.user.name %></dd>

  <dt>Kind:</dt>
  <dd><%= @raffle.kind %></dd>

</dl>
