<% content_for :title do %>
  Kind's details
<% end %>

<div class="page-header">
  <h1>Kind's details</h1>
  <div>
    <%= link_to edit_kind_path(@kind), class: 'btn btn-success' do %>
      <%= icon 'fas', 'edit' %>
      Edit
    <% end %>
    <%= link_to kinds_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Back
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Description:</dt>
  <dd><%= @kind.description %></dd>

  <dt>Initial:</dt>
  <dd><%= @kind.initial %></dd>

  <dt>Step:</dt>
  <dd><%= @kind.step %></dd>

  <dt>Quantity:</dt>
  <dd><%= @kind.quantity %></dd>

</dl>
