<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @prize.description %>
</p>

<p>
  <strong>Placing:</strong>
  <%= @prize.placing %>
</p>

<p>
  <strong>User:</strong>
  <%= @prize.user_id %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @prize.ticket_id %>
</p>

<%= link_to 'Edit', edit_prize_path(@prize) %> |
<%= link_to 'Back', prizes_path %>
